.section-subtitle_theme-dark {
  display: flex;
  justify-content: center;
  width: 60%;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  margin: 20px 0 0 0;
  color: #ffff;
}
