.kaufman {
  display: flex;
  padding-top: 90px;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color:  #1f1f1f;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
