.kaufman__triangle {
  height: 877px;
  width: 877px;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: 877px 877px;
}
